* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.ContainerComment {
    width: 100%;
    height: 500px;
    overflow: visible;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;

}

#CommentPhoneNumber {
    width: 100%;
    display: flex;
    text-align: start;
    margin: auto;

}

#CommentPhoneNumber p:nth-child(1) {
    color: #4CAF50;
}

#CommentPhoneNumber p:nth-child(2) {

    margin-left: 5%;
    font-size: 13px;
    color: black;
}

#CommentButtonGroup {
    justify-content: space-between;
    display: flex;
}

#CommentButtonGroup p:nth-child(1) {
    border-radius: 5px;
    padding: 4px 10%;
    background-color: red;
    font-weight: bolder;
    cursor: pointer;
    color: white;
    font-size: 16px;
}

#CommentPhoneNumber {
    margin-bottom: auto;
    align-items: flex-end;
    align-content: flex-end;
}

#CommentButtonGroup p:nth-child(2) {
    border-radius: 5px;
    padding: 4px 10%;
    background-color: blue;
    font-weight: bolder;
    cursor: pointer;
    color: white;
    font-size: 16px;
}











.personText {
    width: 100%;
    height: auto;
    padding: 1% 1%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 1px solid black;
}

.PersonItemImg {
    width: 100px;
    height: 80px;
    border: 1px solid red;
}

.PersonItemImg img {
    width: 100%;
    height: 100%;
}

.PersonItemText {
    width: 80%;
    height: auto;
    border: 1px solid red;
}

.PersonItemTextData1 {
    width: 100%;
    height: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: .1px solid black;
}

.PersonItemTextData1 p:nth-child(1) {
    font-weight: bold;
}

.PersonItemTextData1 p {
    width: 33%;
    height: 100%;
    border: .1px solid green;
}

.PersonItemTextData2 {
    width: 100%;
    height: auto;
    padding: 3% 1px;
    border: 1px solid blue;
}